<section class="cta">

    <div class="container">

        <h2>

            Ready For Your Next Appointment?

        </h2>

        <p>

            Treat yourself to beautiful nails designed with care,
            creativity and precision.

        </p>

        <a
            href="/bookings"
            class="btn btn-primary">

            Book Your Appointment

        </a>

    </div>

</section>