<section class="hero section">

    <div class="container hero-container">
        <div id="petal-container"></div>

        <div class="hero-left">

            <span class="hero-tag">

                Luxury Nail Studio

            </span>

            <h1 class="hero-title">

                Beautiful Nails.

                <br>

                Beautiful Confidence.

            </h1>

            <p class="hero-description">

                Discover premium manicure,
                pedicure and nail artistry
                designed to make every visit
                unforgettable.

            </p>

            <div class="hero-buttons">

                <a
                    href="/bookings"
                    class="btn btn-primary"
                >

                    Book Appointment

                </a>

                <a
                    href="/services"
                    class="btn btn-secondary"
                >

                    View Services

                </a>

            </div>

        </div>


      <div class="hero-right">
            <div class="photo-stack">

                <div class="photo-card front">

                    <img
                        src="/images/hero/hero1.jpg"
                        alt="Luxury manicure">

                </div>

                <div class="photo-card second">

                    <img
                        src="/images/hero/hero2.jpg"
                        alt="Luxury pedicure">

                </div>

                <div class="photo-card third">

                    <img src="/images/hero/hero3.jpg" alt="Nail art">

                </div>

                <div class="photo-card fourth">

                    <img src="/images/hero/hero4.jpg" alt="Elegant nails">

                </div>

            </div>

            {{!-- <div class="floating-card reviews">

                <strong>★★★★★</strong>

                <span>120+ Happy Clients</span>

            </div>

            <div class="floating-card quality">

                🌸 Premium Quality

            </div> --}}

            <a href="/gallery" class="gallery-link" >

                View Gallery →

            </a>

        </div>

    </div>

</section>