<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{title}}</title>

        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>

        <nav class="navbar">

            <div class="logo">
                Yaya's Glam & Tech
            </div>

            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/bookings">Book Now</a></li>
            </ul>

        </nav>

        {{{body}}}

    </body>
</html>