<section class="gallery-grid-section">

    <div class="container">

        <div class="gallery-grid">

            <article
                class="gallery-card"
                data-category="manicure">

                <img
                    src="/images/gallery/gallery1.jpg"
                    alt="Luxury Manicure">

                <div class="gallery-overlay">

                    <span>

                        Luxury Manicure

                    </span>

                </div>

            </article>


            <article
                class="gallery-card"
                data-category="pedicure">

                <img
                    src="/images/gallery/gallery2.jpg"
                    alt="Luxury Pedicure">

                <div class="gallery-overlay">

                    <span>

                        Spa Pedicure

                    </span>

                </div>

            </article>


            <article
                class="gallery-card"
                data-category="nail-art">

                <img
                    src="/images/gallery/gallery3.jpg"
                    alt="Nail Art">

                <div class="gallery-overlay">

                    <span>

                        Nail Art

                    </span>

                </div>

            </article>


            <article
                class="gallery-card"
                data-category="extras">

                <img
                    src="/images/gallery/gallery4.jpg"
                    alt="Extra Services">

                <div class="gallery-overlay">

                    <span>

                        Extra Services

                    </span>

                </div>

            </article>


            <article
                class="gallery-card"
                data-category="manicure">

                <img
                    src="/images/gallery/gallery5.jpg"
                    alt="Gel Nails">

                <div class="gallery-overlay">

                    <span>

                        Gel Nails

                    </span>

                </div>

            </article>


            <article
                class="gallery-card"
                data-category="pedicure">

                <img
                    src="/images/gallery/gallery6.jpg"
                    alt="Classic Pedicure">

                <div class="gallery-overlay">

                    <span>

                        Classic Pedicure

                    </span>

                </div>

            </article>

        </div>

    </div>

</section>