<div class="lightbox">

    <button class="close-lightbox">

        ✕

    </button>

    <img
        src=""
        alt="Gallery Image"
        class="lightbox-image">

    <button class="previous-image">

        ❮

    </button>

    <button class="next-image">

        ❯

    </button>

</div>